<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<% include partials/console_styles %>
	<title>On Our Last Life</title>
</head>
<body>
	<div class="page-wrapper">
	<% include partials/header %>

	<div class="main has-footer">
		
		<div class="latest-video">
			<h1 class="header-label">
				Latest Episode
			</h1>
			<div class="episode">
				<h2><%= latest_episode.title %></h2>
				<h5>uploaded: <%=latest_episode.date %></h5>
				<%- latest_episode.embed %>
			</div>
		</div>

		<div class="articles">
			<h1 class="header-label">
				News
			</h1>
			<% articles.forEach(function(article) { %>
			<div class="article">
				<h2><%= article.article_title %></h2>
				<h5>by <%= article.owner_username %> on <%= article.date %></h5>
				<p><%= article.article_body %></p>
			</div>
			<% }) %>
		</div>
	
	<div class="google">
		
	</div>

	</div> <!-- end main -->

	<% include partials/footer %>
	</div> <!-- end page-wrapper -->

	<% include partials/console_scripts %>
</body>
</html>