<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<% include partials/console_styles %>
	<title>Series</title>
</head>
<body>
	
	<% include partials/header %>

	<div class="main">
		
		<h1 class="view-header">
			Series
		</h1>
		
		<% series.forEach(function(title, index) { %>
		<div class="series">
			<!-- should probably use an image here -->
			<a href="/series/<%= title.series_id %>"><%= title.name %></a>
			<i class="mdi mdi-menu-down clickable" data-target-index="<%= index %>"></i>
			<div class="ep-number">Episodes: <%= title.episodes %></div>
			<h5 class="series-description" data-description="<%= index %>">
				<%= title.series_description %>
			</h5>
		</div>
		<% }) %>

	</div>

	<% include partials/console_scripts %>
</body>
</html>