<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<% include partials/console_styles %>
	<title>Episode: <%= episode.ep_num %></title>
</head>
<body>
	<div class="page-wrapper">
	<% include partials/header %>

	<div class="main has-footer">

		<div class="episode">
			<div class="series">
				<h1><%= episode.name %></h1>
			</div>
			<div class="title">
			<h2><%= episode.title %> Episode: <%= episode.ep_num %></h2>
			</div>

			<div class="video">
				<% if (!episode.embed) { %>
				<h2>Coming soon...</h2>
				<% } else { %>
				<%- episode.embed %>
				<% } %>
			</div>
			
			<div class="ep-nav">
				<% if (prevEp.episode_id || prevEp != "null") { %>
				<div class="prev-ep">
					<a href="/series/<%= prevEp.series_id %>/episode/<%= prevEp.episode_id %>">Previous Episode</a>
				</div>
				<% } %>
				<% if (nextEp.episode_id || nextEp != "null") { %>
				<div class="next-ep">
					<a href="/series/<%= nextEp.series_id %>/episode/<%= nextEp.episode_id %>">Next Episode</a>
				</div>
				<% } %>
			</div>
			<div class="ep-description">
				<h3><%= episode.ep_description %></h3>
			</div>
		</div>

	</div> <!-- end main -->
	
	<% include partials/footer %>
	</div> <!-- end page-wrapper -->

	<% include partials/console_scripts %>
</body>
</html>