<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<% include partials/console_styles %>
	<title><%= episodes[0].name %></title>
</head>
<body>
	
	<% include partials/header %>

	<div class="main">
		
		<h1 class="view-header">
			Series
		</h1>
		
		<% episodes.forEach(function(episode) { %>
		<div class="episode">
			<div class="ep-title">
				<a href="/series/<%= episode.series_id %>/episode/<%= episode.episode_id %>"><%= episode.title %> Episode: <%= episode.ep_num %></a>
			</div>
			<div class="ep-description">
				<h5><%= episode.ep_description %></h5>
			</div>
		</div>
		<% }) %>

	</div>


	<% include partials/console_scripts %>
</body>
</html>